pre {
    line-height: 1.2;
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
    overflow-x: auto;
    padding: 0;
    color: black;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}


/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.side:nth-of-type(2) .hljs {
    color: white;
}

.side:nth-of-type(2) .hljs-comment,
.side:nth-of-type(2) .hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.side:nth-of-type(2) .hljs-doctag,
.side:nth-of-type(2) .hljs-keyword,
.side:nth-of-type(2) .hljs-formula {
    color: #c678dd;
}

.side:nth-of-type(2) .hljs-section,
.side:nth-of-type(2) .hljs-name,
.side:nth-of-type(2) .hljs-selector-tag,
.side:nth-of-type(2) .hljs-deletion,
.side:nth-of-type(2) .hljs-subst {
    color: #e06c75;
}

.side:nth-of-type(2) .hljs-literal {
    color: #56b6c2;
}

.side:nth-of-type(2) .hljs-string,
.side:nth-of-type(2) .hljs-regexp,
.side:nth-of-type(2) .hljs-addition,
.side:nth-of-type(2) .hljs-attribute,
.side:nth-of-type(2) .hljs-meta-string {
    color: #98c379;
}

.side:nth-of-type(2) .hljs-built_in,
.side:nth-of-type(2) .hljs-class .side:nth-of-type(2) .hljs-title {
    color: #e6c07b;
}

.side:nth-of-type(2) .hljs-attr,
.side:nth-of-type(2) .hljs-variable,
.side:nth-of-type(2) .hljs-template-variable,
.side:nth-of-type(2) .hljs-type,
.side:nth-of-type(2) .hljs-selector-class,
.side:nth-of-type(2) .hljs-selector-attr,
.side:nth-of-type(2) .hljs-selector-pseudo,
.side:nth-of-type(2) .hljs-number {
    color: #d19a66;
}

.side:nth-of-type(2) .hljs-symbol,
.side:nth-of-type(2) .hljs-bullet,
.side:nth-of-type(2) .hljs-link,
.side:nth-of-type(2) .hljs-meta,
.side:nth-of-type(2) .hljs-selector-id,
.side:nth-of-type(2) .hljs-title {
    color: #61aeee;
}

.side:nth-of-type(2) .hljs-emphasis {
    font-style: italic;
}

.side:nth-of-type(2) .hljs-strong {
    font-weight: bold;
}

.side:nth-of-type(2) .hljs-link {
    text-decoration: underline;
}
