* {
  box-sizing: border-box;
}

html {
  --mm: calc(100vh / 96);
  --height: calc(96 * var(--mm));
  --width: calc(128 * var(--mm));
  --pt: calc(.35 * var(--mm));
}
@media (max-aspect-ratio: 4/3) {
  html {
    --mm: calc(100vw / 128);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CCC;
  overflow: hidden;
}

section {
  width: var(--width);
  height: var(--height);
  position: relative;
}

a.prev_flat_link {
  position: absolute;
  width: 30%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

a.next_flat_link {
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
}
